<h1>Posts</h1>

<ol>
  {{#each model as |post|}}
      <li><h2>{{post.title}}</h2></li>
    <ul>
      {{#each post.tags as |tag|}}
          <li><h2>{{tag.name}}</h2></li>
      {{/each}}
    </ul>
  {{/each}}
</ol>

{{outlet}}


