<h1>Tags</h1>

<ol>
  {{#each model as |tag|}}
      <li><h2>{{tag.name}}</h2></li>
    <ul>
      {{#each tag.posts as |post|}}
          <li><h2>{{post.titlegit }}</h2></li>
      {{/each}}
    </ul>
  {{/each}}
</ol>

{{outlet}}